{% extends "project.html.jinja" %} 


{% block packetHeader %} {{ block.super }}
    Pakiet: Personal
{% endblock %} 

{% block packetFooter %} {{ block.super }}
    <p>Stopka pakietu Personal.</p>
{% endblock %} 