{% extends "Packet/App/app.html.jinja" %}


{% block moduleHeader %} {{ block.super }}
    Moduł: 📚 Bookkeeping (Księgowość)
{% endblock %} 

{% block moduleFooter %} {{ block.super }}
    <p>Stopka modułu Bookkeeping.</p>
{% endblock %} 