{% extends "Packet/App/Module/module.html.jinja" %}  

{% block functionHeader %} {{ block.super }}
    Funkcja: 🔄 Transakcje
{% endblock %}  

{% block functionFooter %} {{ block.super }}
    <p>Stopka funkcji Transakcje.</p>
{% endblock %}  