{% extends "Packet/packet.html.jinja" %}  


{% block appHeader %} {{ block.super }}
    Aplikacja: 💰 Accountancy
{% endblock %}  

{% block appFooter %} {{ block.super }}
    <p>Stopka aplikacji Accountancy.</p>
{% endblock %}  